<nz-table
  #rowSelectionTable
  nzShowSizeChanger
  [nzData]="listOfData"
  nzPagination="true"
  [nzPageSize]="15"
  (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
>
  <thead>
    <tr>
      <th>ID</th>
      <th>คำนำหน้า</th>
      <th>ชื่อ</th>
      <th>นามสกุล</th>
      <th>Username</th>
      <th>Password</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of rowSelectionTable.data">
      <td>{{ data.id }}</td>
      <td>{{ data.title_name }}</td>
      <td>{{ data.first_name }}</td>
      <td>{{ data.last_name }}</td>
      <td>{{ data.username }}</td>
      <td>{{ data.password }}</td>
      <td>
        <button nz-button class="delete-button" (click)="onDelete(data.id)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
